
    :root {
        --success : green;
        --bg-success: rgb(203, 218, 203);
        --danger : rgb(223, 14, 14);
        --bg-danger :   rgb(190, 128, 128);

    }


.notification {
    --color : none;
    --bg : none;
    border: 3px solid var(--color);
    background-color : var(--bg);
    padding-left: 8px ;
    margin: 5px;
    
    font-family: monospace sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color : var(--color);
}

.danger {
    --color :var(--danger);
    --bg : var(--bg-danger);
}

.success {
    --color : var(--success);
    --bg: var(--bg-success);
}